* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(137, 231, 231);
    display: flex;
    justify-content: center;
    border-bottom: 16px solid rgb(32, 123, 123);;
    font-size: 25px;
    padding: 8px;
    font-weight: lighter;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  
}


button {
    padding: 2px;
    margin-left: 16px;
    background-color: rgb(29, 87, 29);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10%; 
    cursor: pointer;
}

#botao-cancelar {
    background-color: red;    
    border: none;
    border-radius: none;
}

form {
    background-color: rgb(218, 245, 245);
    text-align: center;
    font-size: 18px;
    padding: 8px;
    font-weight: lighter;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    justify-content: center;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
    padding: 24px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
    font-size: 36px;
}

.overlay-imagem{
    padding: 16px;
    background-color: rgba(0, 0 , 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;    
    opacity: 0;
    transition: all ease .5s;     
}

.overlay-imagem {
    color: #fff;
    text-decoration: none;
}


ul li:hover .overlay-imagem {
    opacity: 1;
}


